@* @model IEnumerable<projetoBDO.Entities.Personagem> *@
@model PaginatedList<Personagem>
@{
    ViewData["Title"] ="Lista de personagens";
}

<h1>Seus personagens</h1>

<a asp-action="Create" class="btn btn-primary">Criar novo personagem</a>
<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Nome</th>
            <th>Classe</th>
            <th>Poder de Ataque</th>
            <th>Defesa</th>
            <th>Nível</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var personagem in Model)
        {
            <tr>
            
                <td>@Html.DisplayFor(model => personagem.Nome)</td>
                <td>@Html.DisplayFor(model => personagem.Classe)</td>
                <td>@Html.DisplayFor(model => personagem.PA)</td>
                <td>@Html.DisplayFor(model => personagem.DP)</td>
                <td>@Html.DisplayFor(model => personagem.Level)</td>
                <td>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@personagem.Id">Deletar</a>
                    <a asp-action="EditPersonagem" class="btn btn-outline-warning" asp-route-id="@personagem.Id">Editar Gear do Personagem</a>
                </td>
            </tr>
        }
    
    </tbody>
</table>





<div class="fixed-bottom bg-dark text-white text-center p-3" style="margin-bottom: 75px">
    Página @Model.PageIndex de @Model.TotalPages
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Anterior</a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Próxima</a>
    }
</div>