@model IEnumerable<projetoBDO.Entities.Personagem>
    
@{
    ViewData["Title"] ="Lista de personagens";
}

<h1>Seus personagens</h1>

<a asp-action="Create" class="btn btn-primary">Criar novo personagem</a>
<table class="table table-striped">
    <thead>
        <tr>
            
            <th scope="row">@Html.DisplayNameFor(x => x.Nome)</th>
            <th scope="row">@Html.DisplayNameFor(x => x.Classe)</th>
            <th scope="row">@Html.DisplayNameFor(x => x.PA)</th>
            <th scope="row">@Html.DisplayNameFor(x => x.DP)</th>
            <th scope="row">@Html.DisplayNameFor(x => x.Level)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var personagem in Model)
        {
            <tr>
            
                <td>@Html.DisplayFor(model => personagem.Nome)</td>
                <td>@Html.DisplayFor(model => personagem.Classe)</td>
                <td>@Html.DisplayFor(model => personagem.PA)</td>
                <td>@Html.DisplayFor(model => personagem.DP)</td>
                <td>@Html.DisplayFor(model => personagem.Level)</td>
                <td>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@personagem.Id">Deletar</a>
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@personagem.Id">Editar Personagem</a>
                </td>
            </tr>
        }
    
    </tbody>
</table>


