
@model PaginatedList<Grind>
<h2>Lista de grind</h2>

<table class="table table-striped">
	<thead>	
		<tr>
			<th>Mapa</th>
			<th>Personagem</th>
			<th>Valor do grind</th>
			
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var grind in Model)
		{
			<tr>
				<td>@grind.Mapa</td>
				<td>@grind.NomePersonagem</td>
				<td>
					 @Html.DisplayFor(m => grind.ValorTotal) 
					

				</td>
				
			</tr>
		}
	</tbody>
</table>

<div>
	Página @Model.PageIndex de @Model.TotalPages
	@if (Model.HasPreviousPage)
	{
		<a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Anterior</a>
	}
	@if (Model.HasNextPage)
	{
		<a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Próxima</a>
	}
</div>


