@using projetoBDO.Paginacao;
@model  PaginatedList<projetoBDO.Entities.Spot>


    <h2>Lista de Spots</h2>


<table class="table table-striped">
    @foreach (var item in Model)
    {
        <tr scope="row">
            <td>@item.Nome</td>
            <td>
         
                <a asp-controller="Item" asp-action="Index" class="btn btn-outline-secondary" asp-route-id='@item.Id'>Lista de itens</a>
                <a asp-controller="Spot" asp-action="Details" class="btn btn-outline-info" asp-route-id='@item.Id'>Detalhes do Spot</a>
                <a asp-controller="Spot" asp-action="Edit" class="btn btn-outline-warning" asp-route-id='@item.Id'>Editar Spot</a>
                <a asp-controller="Spot" asp-action="Delete" class="btn btn-outline-danger" asp-route-id='@item.Id'>Deletar</a>
                <a asp-controller="Grind" asp-action="Create" class="btn btn-primary" asp-route-id="@item.Id">Adicionar grind</a>
            </td>
        </tr>
    }
</table>
    <div>
        Pagína @(Model.PaginaAtual) de @(Model.TotalPages)
    </div>

    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index2" asp-route-pageNumber="@(Model.PaginaAtual - 1)">Antes</a>
    }

    @if (Model.HasNextPage)
    {
        <a asp-action="Index2" asp-route-pageNumber="@(Model.PaginaAtual + 1)">Depois</a>
    }


